article
  header
    time.pull-right.muted.app-article-pubdate(pubdate, datetime=#{post.publishAt.toISOString()})
      | #{post.publishAt.toISOString().split('T')[0]}
    h2 #{post.title}
    .row-fluid.app-article-meta
      .span10
        ul.inline
          li
            i.icon-tags.muted(title='tags')
          each tag in post.tags
            li: a.label.label-info.app-article-tag(href='tags/') #{tag}
      .pull-right
        i.icon-fixed-width.icon-comment.muted(title='comentários')
        a.badge.app-article-comment-count(href='#comentarios')
          if post.comments
            | #{post.comments.length}
          else
            | 0
  != post.body
  footer
