article
  header
    time.pull-right.muted.app-article-pubdate(
      pubdate,
      datetime=#{post.createdAt.toISOString()}
    )
      | #{post.createdAt.toISOString().split('T')[0]}
    h2 #{post.title}
    .row-fluid.app-article-meta
      .span10
        ul.inline
          li
            i.icon-tags.muted(title='tags')
          each tag in post.tags
            li: a.label.label-info.app-article-tag(href='#') #{tag}
      .pull-right
        i.icon-fixed-width.icon-comment.muted(title='comentários')
        a.badge.app-article-comment-count(href='#comentarios')
          if post.comments
            | #{post.comments.length}
          else
            | 0
  != post.body
  footer
    #app-post-comments
      form(method="POST", action="")
        fieldset
          legend#comentarios Comentários
          .control-groups
            input#id_name.span6(type="text", name="name", placeholder="Nome")
          .control-groups
            textarea#id_comment.span6(, name="comment", placeholder="Comentário")
          .row-fluid
            .span6
              button.btn.btn-primary.pull-right(type="submit") Comentar
      if post.comments
        .app-comments
          each comment in post.comments
            .app-comment
              i.muted
                | #{comment.name}
                | (#{comment.createdAt.toISOString().split('T')[0]})
              .app-comment-body
                | #{comment.comment}
